@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  
}
body{
  background-color: rgb(141, 230, 235);

}

.main_container,
.person_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  margin: 4vw;
  background-color: rgb(141, 230, 235);
}

/* -------------------------------                   Nav                 ----------------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 4vw;
  background-color: rgb(103, 224, 230);
  font-size: 3vw;
}

.nav_list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin: 25px;
  align-items: center;
}

.nav_photo {
  margin: 3vw;
  width: 10vw;
  height: 10vw;
}

/* ---------------------------------                  FBI           ----------------------------------- */
.about {
  display: flex;
  justify-content: center;
  background-color: rgb(141, 230, 235);
  margin: 4vw;
  font-size: 2vh;
  gap: 2vw;
  padding: 2vw;
  align-items: center;
}

.fbi-img {
  width: 20vw;
  height: 20vw;
}

/* ---------------------------------                  Wanted           ----------------------------------- */

.wanted {
  display: flex;
  justify-content: center;
  background-color: rgb(141, 230, 235);
  margin: 4vw;
  font-size: 35px;
  font-weight: bolder;
}

/* ---------------------------------                  personas           ----------------------------------- */
.person {
  padding: 15px;
  width: 20vw;
  border-radius: 20%;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: aquamarine;
  margin: auto;
}

.person-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4vw;
}

.main-image {
  width: 14vw;
  height: 14vw;
  box-shadow: 5px 5px 80px red;
}

.main-image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.number {
  font-weight: bolder;
  font-size: 1vw;
}

.name {
  font-weight: bolder;
  font-size: 1vw;
}

/* ---------------------------------                  Contact           ----------------------------------- */
.contact {
  display: flex;
  justify-content: center;
  background-color: rgb(123, 208, 212);
  flex-direction: column;
  margin: 4vw;
  font-size: 2vw;
  align-items: center;
}

.contact-text {
  font-size: 2vw;
  margin-top: 2vw;
}

.contact-form {
  margin: 3vw;
  background-color: green;
  padding: 3vw;
  border-radius: 2vw;
}

form .button {
  height: 3vw;
  margin: 1vw 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #0d11ee;
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .button input:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.user-details .input-box input {
  height: 2vw;
  width: 100%;
  outline: none;
  font-size: 0.6vw;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
/* ---------------------------------                  Footer           ----------------------------------- */
.us {
  display: flex;
  justify-content: center;
  background-color: rgb(108, 217, 223);
  margin: 4vw;
  font-size: 1vw;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;

  list-style: none;
  gap: 20px;
}

.list {
  font-size: 0.9vw;
  list-style: none;
  margin: 4vw;
}

.bold {
  font-weight: bolder;
}

.about-title {
  margin-top: 3vw;
  font-weight: bolder;
}

/* ----------------------------------------           persona                 ------------------------------------- */

.person-info {
  display: flex;
  justify-content: center;
  margin: 2vw;
  gap: 2vw;
  padding: 3vw;
  align-items: center;
  background-color: rgb(192, 185, 185);
  border-radius: 10%;
}

.main-person {
  width: 30vw;
  height: 35vw;
  box-shadow: 5px 5px 30px brown;
}

.person-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.person-name {
  font-weight: bolder;
}

.div-know {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-know {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  margin: 2vw;
  padding: 2vw;
}

/* Button Hover Effect */
.button-know:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  transform: scale(1.05);
  transition: 0.7s;
}

.most-wanted {
  background-color: #cd8495;
  margin: 5px;
  font-weight: bold;
}
